@charset "UTF-8";

:root{
    --cor0: #ED808F;
    --cor1: #E8384F;
    --cor2: #B52B3E;
    --cor3: #691924;
    --cor4: #69383F;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--cor1);
    margin: 0px;
}

header{
    background-image:linear-gradient(to bottom, var(--cor1), var(--cor3));
    margin: auto;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

header > h1 {
    font-size: 3em;
}

header p{
    padding-bottom: 10px;
}

#nome{
    padding: 10px;
}

nav{
    background-color: var(--cor3);
    padding: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
    transition: 1s;
}

nav a:hover{
    text-decoration: underline;
    background-color: var(--cor2);
    padding: 5px;
}

main{
    background-color: var(--cor2);
    padding: 5px;
    min-width: 475px;
    max-width: 1000px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
}

section>h1{
    color: black;
    font-size: 2em;
    padding: 5px;
    margin: 10px;
}

article{
    background-color: rgb(167, 167, 167);
    padding: 40px 40px 150px 40px;
    margin: 5px;
}

article h2{
    color: white;
}

article a{
    text-decoration: none;
    color: var(--cor1);
}

article li{
    list-style: none;
}

article#animes{
    background-image: url('imagens/fundo-Attack-on-titan.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

article#series{
    background-color: #010101;
    background-image: url('imagens/fundo-loki-logo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

article#filmes{
    background-image: url('imagens/fundo-irmao-urso.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

article#jogos{
    background-image: url('imagens/fundo-clash-of-clans-g.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 629px 273px;
}

article#livros{
    background-color: black;
    background-image: url('imagens/fundo-Jurassic-Park.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

section.fim{
    background-color: var(--cor1);
    padding: 15px;
    margin: 0px 5px;
}

aside{
    margin: auto;
    background-color: var(--cor0);
    margin: 0px;
    border-radius: 10px;
}

aside h3{
    background-color: var(--cor3);
    color: white;
    margin: auto;
    padding: 3px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
}

footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}

footer > p{
    margin: -5px;
}